* {
  box-sizing: border-box;
}
body{
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;;
    margin: 0;
    padding: 0;
    font-size:20px;  
}
p{  
  padding: 2%;  
  background-color: grey;
  clear: both;  
}
section{  
  font-size:1.25em;
  margin: =0px;
  float: right;
  clear: both;
  background-color: blue;
  border-style: solid;
  border-color: black;  
  width: 30%;
  text-align: center;
  border-top: 0px;
  border-right: 0px;
}
h1{
  font-size:1.5em;
  text-align: center;
  padding: 5%; 
}
.container{
  width: 100%;
  padding: 2%;      
  float: left;
}
.row{  
  border-style: solid;
  border-color: black;              
}

.Pollo{
  background-color: #D59898;
}
.Carne{
  background-color: #C14543;
  color:#FFFFFF;
}
.Pescao{
  background-color: #E5D198;
}

/********** Big devices **********/
@media (min-width: 992px) {
  .col-lg-4{
    background-color: grey;
    float: left;
    border-style: solid;        
    width: 31.33%;
    margin: 1%;                
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    background-color: grey;
    float: left;
    border-style: solid;                    
    width: 48%;
    margin: 1%;
    clear: right;
    font-size: 0.75em;
  }
  .pescadito{
    width: 98.3%; 
  }  
}
/********** small devices **********/
@media (max-width: 767px) {
  .col-sm-12 {    
    background-color: red;
    margin: 5%;
    border-style: solid;        
    width: 90%;
    font-size: 0.20em;
  }
}